* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: 'Poppins', sans-serif;
}

/* Starts left section */

.left {
    background-color: #232c3a;
    color: white;
}

.content__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35%;
}

.icons {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: aqua;
    position: relative;
}

.fa-cloud {
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left__title {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 35%;
    text-align: center;
    margin: 2rem 0;
}

.text {
    width: 50%;
    margin-bottom: 2rem;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
}

.carrossel{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 1rem 0.5rem;
    color: #4f5c6f;
    border-style: none;
}

.carrossel__back {
    background-color: #7c8aa1;
    color: white;
}

/* Ends left section 
Starts right section */

.content__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.right__title {
    color: #232c3a;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.social {
    display: flex;
    list-style-type: none;
}

.square {
    padding: 15px;
    background-color: #edf2f7;
    margin: 0 0.7rem 1rem 0.7rem;
    border-radius: 10px;
    height: 32px;
}

.square img {
    height: 32px;
    background: transparent;
}

.line__text {
    display: flex;
    margin: 0 0 1rem 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: #4f5c6f;
    font-size: 0.6rem;
}

.line__text hr {
    width: 33%;
    color: #edf2f7;
}

.input__fields {
    width: 100%;
    margin-bottom: 0.5rem;
    color: #232c3a;
    font-size: 0.8rem;
    font-weight: 500;
}

.input {
    display: flex;
    flex-direction: column;
}

.label__input {
    background-color: #edf2f7;
    border-radius: 8px;
    padding: 1em;
    border: none;
    color: #4f5c6f;
    font-size: 0.8rem;
}

.character__warning {
    margin-top: 5px;
    font-size: 0.6rem;
    font-weight: 600;
    color: #4f5c6f;
}

.remember__forgot {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 500;
    color: #232c3a;
}

.forgot a {
    text-decoration: none;
    color: #4c6fff;

}

.sign__in__button {
    width: 100%;
    background-color: #4c6fff;
    border-radius: 10px;
    padding: 1em;
    color: white;
    font-weight: 500;
    margin-bottom: 2rem;
    cursor: pointer;
}

.rights__reserved {
    font-size: 0.6rem;
    color: #4f5c6f;
}

/* Ends right section */